.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  z-index: 999;
}

.flexBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../public/animal-cross.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.messageCountContainer {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 42vh;
  left: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url('../../../public/ballon.png');
  background-size: cover;

  span {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.messageSender {
  position: absolute;
  bottom: 30px;
  right: 15px;
  background-image: url('../../../public/letter_2.png');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.mailBox {
  position: absolute;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 80vh;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 70px;
  background-image: url('../../../public/letter_clover.png');
  background-size: cover;
  background-position: center;

  .closeButton {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 2rem;
    cursor: pointer;
  }

  .buttonContainer {
    position: absolute;
    bottom: 7%;
    left: 22vw;
    display: flex;
    gap: 10vw;

    span {
      font-size: 2.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.1); // hover 시 약간 커짐
      }

      &:active {
        transform: scale(0.95); // 클릭 시 살짝 줄어듦
      }
    }
  }

  .disabledButton {
    filter: brightness(0.5);
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}