.usernameContainer {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 36vh;
  top: 32vh;
  left: 30vw;
  background-color: #fff3c8;
  border-radius: 25px;

  input {
    font-size: 1rem;
    text-align: center;
  }
}