.sseContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}

.sseSendContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;

  button {
    background-color: #fff;
    border: 1px solid #7a7a7a;
    cursor: pointer;

    &:hover {
      background-color: #c8e6ff;
    }
  }
}